.container__bigbanner{
    width: 100%;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    .containner__body{
        display: flex;
        max-width: 1200px;
        height: 200px;
        width: 100%;
        .containner__first-item{
            width: 800px;
        }
        .containner__second-item{
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            div+div{
                padding-top: 4px;
            }
        }
    }
}
.slick-next{
    right: 0 !important;
}
.slick-prev{
    left: 0 !important;
    z-index: 2;
}
.slick-dots{
    bottom: 0 !important;
}

