.productTab{
    display: flex;
    gap:20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    .item{
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        background-color: #ffffff;
        cursor: pointer;
    }
    .active{
        background-color: #f2c94c;
        font-weight: bold;
    }
}