th,
td {
    white-space: nowrap;
}
th {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
tr {
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
        caption {
            font-size: 1.3em;
        }
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
        }
        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
        }
        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }
    }
}
