
.priceBar{
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
	max-width: 80%;
	margin: 0 auto;
	padding: 15px 5px 10px;

	.rowInput{
	
		.range{
			display: flex;
			justify-content: space-around;
			overflow: hidden;
			padding: 0 0 20px;
			position: relative;
			.left{
				padding: 7px;
				border: 1px solid #bdbdbd;
				border-radius: 4px;
				z-index: 1;
				position: relative;
				background: #fff;
				float: left;
				margin-right: 200px;
				display: flex;
				align-content: center;
				width: 120px;
				height: 34px;
				.input{
					padding: 0;
					outline: none;
					zoom: 1;
					border: 0;
					width: 64px;
					max-width: 70px;
					text-align: right;
					font-size: 14px;
					float: left;
					background-color: #fff;
				
					-webkit-appearance: none;
					-moz-appearance: textfield;

				}
				.placeHolder{
				
					outline: none;
					zoom: 1;
					color: #bdbdbd;
					font-size: 14px;
					position:relative;
					;
				}
				
			}
			.right{
				
				padding: 7px;
				border: 1px solid #bdbdbd;
				border-radius: 4px;
				z-index: 1;
				position: relative;
				background: #fff;
				float: right;
				display: flex;
				align-content: center;
				width: 115px;
				height: 34px;
				.input{
					padding: 0;
					outline: none;
					zoom: 1;
					border: 0;
					width: 64px;

					max-width: 64px;
					text-align: right;
					font-size: 14px;
					float: left;
					background-color: #fff;
				
					-webkit-appearance: none;
				
					-moz-appearance: textfield;
				}
				.placeHolder{
					
					outline: none;
					zoom: 1;
					color: #bdbdbd;
					font-size: 14px;
					position:relative;
					;
					
				}
			}
		}
		.range::before{
			content: "";
			position: absolute;
			border-top: .5px solid #ddd;
			display: block;
			width: 100%;
			top: calc(50% - 11px);
			z-index: 0;
		}
	}
	.slider{
		height: 5px;
		border-radius: 5px;
		background-color: #ddd;
		position: relative;
		.progress{
			height: 5px;
			left: 25%;
			right: 25%;
			position: absolute;
			border-radius: 5px;
			background-color: #4A90E2;
		}
	}
	.rangeInput{
		position: relative;
		input{
			position: absolute;
			top: -5px;
			height: 5px;
			width: 100%;
			background: none;
			pointer-events: none;
			-webkit-appearance: none;
			
		}
		
		input[type="range"]::-webkit-slider-thumb{
			height: 20px;
			width: 20px;
			border: 1px solid #345dbb;
			pointer-events: auto;
			-webkit-appearance: none;
			
			background-color: #fff;
		}
		input[type="range"]::-webkit-slider-thumb:active{
			padding: 7px;
			background-clip: padding-box;
			border: 7px solid rgba(0, 75, 251, 0.38);
		}
		input[type="range"]::-moz-range-thumb{
			height: 20px;
			width: 20px;
		
			pointer-events: auto;
			-moz-appearance: none;
			
			border: none;
		}
	
	}
}
			
	



