@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
	--primary-bg: #ffd400;
	--primary-bg-btn: #ffac0a;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: #f1f1f1;
	text-rendering: optimizeSpeed;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

svg {
	display: inline-block;
	font-size: 1.5rem;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.tippy-box {
	background-color: #fff;
	max-width: 950px !important;
	border: 1px solid #ddd;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.tippy-arrow {
	color: #fff;
}

