.select-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    z-index: 100000;
    background-color: #fff;
    
}

.form-container{
    margin-top: 10px;
}

.btn-Address{
    font-size: 12px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    outline: 0 !important;
    border: none;
    margin-top: 20px;
    background-color:#4267b2;
}

.btn-Address:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .cartempty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    margin-top: 100px;
   
}

[class*=cartnew-], [class^=cartnew-] {
    background-image: url(https://cdn.tgdd.vn/mwgcart/vue-pro/css/img/cart-mobile-1.png);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 133px 305px;
}

.cartnew-empty {
    background-position: 0 -98px;
    width: 70px;
    height: 55px;
}
.cartempty i {
    margin: auto;
}

.cartempty .backhome {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #288ad6;
    margin: 0 10px;
    color: #288ad6;
    width: 40%;
}
.cartempty .backhome, .cartempty span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.cartempty p {
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    width: 40%;
}
.btn {
    font-size: 12px;
    margin-top: 20px;
    
}


